body {
  background-color: #adadad;
}

.container {
  font-family: "Saira", sans-serif;
  color: #353535;
}

.wrapper {
  background-color: #7cafd3;
  border: solid 1px #7cafd3;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
  display: block;
  padding: 20px;
  margin: 20px auto;
}

/*search bar styling*/

.search-bar,
.results {
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btn,
#city-search {
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 25%);
  font-weight: 100;
}
#city-search {
  background-color: #90c2e5;
  border: solid 1px #bfbfbf;
}
#search-button {
  background-color: #ce5e40;
  border: solid 1px #ce5e40;
  transition: all 150ms ease-in-out;
}
#search-button:hover {
  background-color: #b55034;
  border: solid 1px #b55034;
}
#location-button {
  background-color: #626263;
  border: solid 1px #6f6f70;
  text-align: center;
  transition: all 150ms ease-in-out;
}
#location-button:hover {
  background-color: #48484a;
  border: solid 1px #48484a;
}

/*end of search bar styling*/

.card {
  background-color: #7cafd3;
  border: none;
}

/*results left column*/
.current-city {
  font-size: 36px;
  font-weight: 400;
}
.day-time {
  text-align: right;
}

#day-time {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.current-icon,
.current-temp,
.current-min-max {
  text-align: center;
}
#current-icon {
  position: relative;
  top: 0;
}
.units {
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: -12px;
}
#celsius-select {
  color: #ce5e40;
}
#celsius-select:hover {
  cursor: pointer;
}
#units-pipe {
  position: relative;
  left: -8px;
}
#fahrenheit-select {
  position: relative;
  left: -17px;
}
#fahrenheit-select:hover {
  cursor: pointer;
}
.current-min-max {
  font-size: 18px;
  font-weight: 300;
}

.extra-info {
  margin: auto;
}

.cloud,
.wind,
.rain {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/*end of left colum styling*/
/*right column styling*/

.five-day-forecast {
  font-size: 36px;
  font-weight: 300;
}

.five-day {
  font-size: 14px;
  justify-content: center;
  max-height: 20px;
}
.five-day.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.col-3.five-day {
  font-weight: 300;
  text-align: center;
}
.forecast {
  justify-content: center;
}
/*end of right column*/
#footer {
  font-size: 14px;
  text-align: center;
}
