body {
  background-color: #adadad;
}

.container {
  font-family: "Saira", sans-serif;
  color: #353535;
}

.wrapper {
  background-color: #96bbd3;
  border: solid 1px #96bbd3;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 25%);
  display: block;
  padding: 20px;
  max-width: 650px;
  margin: 20px auto;
}

/*search bar styling*/

.search-bar,
.results {
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.btn,
#city-search {
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 25%);
  font-weight: 100;
}
#city-search {
  background-color: #adc8db;
  border: solid 1px #bfbfbf;
}
#search-button {
  background-color: #ce5e40;
  border: solid 1px #ce5e40;
  font-size: 14px;
  text-align: center;
  transition: all 150ms ease-in-out;
}
#search-button:hover {
  background-color: #b55034;
  border: solid 1px #b55034;
}
#location-button {
  background-color: #626263;
  border: solid 1px #6f6f70;
  font-size: 14px;
  text-align: center;
  transition: all 150ms ease-in-out;
}
#location-button:hover {
  background-color: #48484a;
  border: solid 1px #48484a;
}

/*end of search bar styling*/

/*results upper*/
.results-wrapper {
  background-color: #77a4c4;
  border: solid 1px #77a4c4;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px 2px rgb(0 0 0 / 25%);
  display: block;
  margin: 20px 20px 10px 20px;
}

.card {
  background-color: #77a4c4;
  border: none;
}
.current-city {
  font-size: 36px;
  font-weight: 400;
}
#day-time {
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.left-hand-col {
  align-items: center;
}
.current-comment {
  display: block;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -20px;
}
.current-comment::first-letter {
  text-transform: capitalize;
}

.current-comment,
.current-icon,
.current-temp,
.current-min-max {
  text-align: center;
}
.current-icon-image {
  position: relative;
  left: -5px;
}

.celsius {
  color: #353535;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: -12px;
}

.current-min-max {
  font-size: 18px;
  font-weight: 300;
}

.current {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

.current-extra {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/*end of results upper styling*/
/*results lower styling*/

.five-day {
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  max-height: 20px;
  text-align: center;
}

.forecast {
  justify-content: center;
}
.forecast-weekday {
  font-weight: 400;
}
/*end of lower*/
#footer {
  font-size: 14px;
  text-align: center;
}
